.page-content {
    margin-left: $sidebar-width;
    transition: $transition;

    &--expanded {
        margin-left: 0;
    }
}


.list {
    list-style: none;
    margin: 0;
    padding-left: 0;

    &__item {
        margin-bottom: 1rem;
    }
}