// Renkler
$blue: #19b5fe;
$gray: #bfc5c9;
$gray-light: lighten($gray, 14%);


// Ölçüler
$sidebar-width: 20rem;
$topbar-height: 6.2rem;

// Shadow
$box-shadow: rgba(71, 67, 67, 0.25) 0.1rem 0.1rem 0.8rem;


// Transition
$transition: 0.25s ease-in-out all;