.agent {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__avatar {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        object-fit: cover;
    }

    &__name {
        color: $gray;
    }

    &__status {
        position: relative;

        &--green::after {
            @include status-icon($green, bottom, "lg");
        }
        &--yellow::after {
            @include status-icon($yellow, bottom, "lg");
        }
        &--red::after {
            @include status-icon($red, bottom, "lg");
        }
    }
}