.btn {
    width: max-content;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    transition: $transition;

    &--blue:not(&--outline) {
        background-color: $blue;
        color: white;
    }

    &--outline {
        border: 1px solid;
        
        &.btn--blue {
            color: $blue;
            border-color: $blue;

            &:hover {
                background-color: $blue;
                color: white;
            }
        }
    }
}


.btn-notification {
    position: relative;
    font-size: 2rem;

    &--active::after {
        @include status-icon($blue, top, "sm");
    }
}