.chat {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: calc(100% - #{$header-height});
    max-width: 30rem;
    background-color: white;
    box-shadow: $box-shadow;
    transition: $transition;

    &__body {
        flex: 1;
        overflow-y: auto;
        // padding: 1rem;
    }

    &__message {
        font-weight: normal;
        padding: 1rem;

        &--left {
            background-color: lighten($blue, 40%);
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
        &--right {
            text-align: right;
            background-color: lighten($green, 20%);
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            border-bottom-left-radius: 1rem;
        }
    }

    &__time {
        display: block;
    }
}