.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__item,
  &__icon {
    transition: $transition;
  }  

  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $gray;

    &.router-link-active,
    &:hover,
    &--active {
      color: $blue;

      .nav__icon {
        background-color: $blue;
        border-color: $blue;
        color: white;
      }
    }
  }

  &__icon {
    @include icon-with-border;
    // width: 3.43rem;
    // height: 3.43rem;
    // display: inline-grid;
    // place-items: center;
    // padding: 0.9rem;
    // border: $gray-light 1.5px solid;
    // border-radius: 4px;
  }
}



